
body{
    width: 100%;
}
.bodypart
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 25rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color:rgb(2, 2, 2) ;
    margin: 3rem;
    overflow: hidden;
    padding-top: 1rem;
    box-shadow: 5px 5px 10px rgb(79, 70, 70);
}
#display
{
      
    text-align: end;
    width: 88%;
    height: 30px;
    background-color: rgb(204, 206, 207);
    margin: 10px;
    margin-bottom:2rem;
    border: 1px solid black;
    
    border-radius: 3px;
}
.buttondesign
{
    width: 40px;
    height: 30px;
    border: 1px solid rgb(163, 140, 140);
    border-radius: 5px;
    margin:10px ;
    background-color: rgb(151, 153, 155);
    color: white;
    cursor:default !important;
    box-shadow: 5px 5px 10px rgb(79, 70, 70);

}
.buttondesign:hover
{
  background-color:rgb(60, 54, 54);
}
.clear
{
  background-color: brown;
}
.operator
{
  background-color: rgb(58, 56, 56);
}
@media screen and (max-width:768px) {
  .bodypart
  {
    width: 100%;
    height: 40rem;
    background-color:rgb(228, 226, 222) ;
    margin: 5px;

  }
  #calculator
  {
    font-size: 40px;
  }
    #display
    {
       width: 70%;
       margin-bottom: 30px;
       margin-top: 30px;
       height: 60px;
       background-color: white;
       font-size: 40px;
       
    }
    .buttondesign
    {
      width: 40px;
      height: 45px;
      margin: 15px ;
      font-size: 15px;




    }
  }

@media (min-width:769px ) and ( max-width:1024px) {
  .bodypart
  {
    width: 70%;
  }
}

@media screen and (min-width:1025px) {
  .bodypart
  {
    width: 20%;
  }
}